.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 40px);

  .profile-infos-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    img {
      border-radius: 50%;
      width: 65px;
      height: 65px;
      object-fit: cover;
      aspect-ratio: 1/1;
    }

    .profil-infos-text {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        font-size: 0.875rem;
      }
    }
  }

  .profile-settings {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 40px;
      li {
        position: relative;
        &::after {
          content: "";
          background: url("../../assets/icon/c-vector-chevron.svg");
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }
}
