$primary-white: var(--primary-white);
$secondary-white: var(--secondary-white);
$primary-black: var(--primary-black);
$secondary-black: var(--secondary-black);
$primary-purple: var(--primary-purple);
$secondary-purple: var(--secondary-purple);
$primary-font: var(--primary-font);

.library-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .playlist-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .playlist-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      img {
        width: 100%;
        border-radius: 10px;
        border: 1.5px solid rgba(255, 255, 255, 0.25);
      }
      p {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        font-size: 0.875rem;
        background: rgba(11, 9, 28, 0.7);
        border-radius: 0px 10px 0px 10px;
        padding: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1.5px solid rgba(255, 255, 255, 0.25);
      }
    }
  }
}
