$primary-white: var(--primary-white);
$secondary-white: var(--secondary-white);
$primary-black: var(--primary-black);
$secondary-black: var(--secondary-black);
$primary-purple: var(--primary-purple);
$secondary-purple: var(--secondary-purple);
$primary-font: var(--primary-font);

header {
  width: 100%;
  z-index: 999;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .navbar-user {
      display: flex;
      gap: 15px;
      align-items: center;
      .navbar-logo {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .navbar-user-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .thin {
          font-weight: 100;
        }

        .gras {
          font-weight: bold;
          background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }
      }
    }

    .navbar-icon-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10px;
      svg {
        width: 24px;
        height: 24px;
        color: $primary-white;
      }
      .search-container {
        position: relative;
        .search-wrapper-full {
          height: 100vh;
          position: absolute;
          z-index: 99999;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .search-input {
            // position: absolute;
            // top: -5px;
            // left: 50%;
            // transform: translateX(-50%);
            padding: 5px;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
          }
          
          &:hover .search-input, 
          .search-input:focus {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .notification-icon {
        cursor: pointer;
      }
    }
  }
}
