$primary-white: var(--primary-white);
$secondary-white: var(--secondary-white);
$primary-black: var(--primary-black);
$secondary-black: var(--secondary-black);
$primary-font: var(--primary-font);

body.no-scroll {
  overflow: hidden;
}

header {
  width: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .menu-icon {
    cursor: pointer;
    z-index: 9999;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  
    .bar {
      width: 100%;
      height: 2px;
      background-color: $secondary-white;
      transition: transform 0.3s;
    }
  
    &.open {
      .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
  
      .bar:nth-child(2) {
        opacity: 0;
      }
  
      .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }
  
  .menu {
    background-color: $secondary-black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  
    li {
      font-size: 18px;
    }
  
  }
  
  .search-icon {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: $primary-black;
    width: fit-content;
    height: fit-content;
  }
  
  .c-search-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    position: relative;
  
    .search input[type="search"] {
      display: flex;
      width: 100%;
      padding: 10px 15px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      border-radius: 30px;
      border: none;
      background: $primary-black;
      font-family: $primary-font;
    }
  }
}

