$primary-white: var(--primary-white);
$secondary-white: var(--secondary-white);
$primary-black: var(--primary-black);
$secondary-black: var(--secondary-black);
$primary-font: var(--primary-font);

.nav-footer-wrapper {
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-radius: 30px 30px 0px 0px;
  background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  nav {
    ul {
      list-style: none;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      li {
        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          transition: all .3s ease-in;
          &.active {
            color: $primary-white;
          }
        }
        img {
          scale: 0.8;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}