@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  --primary-black: #39383d;
  --secondary-black: rgba(24, 24, 29, 1);

  --primary-white: #ffffff;
  --secondary-white: rgba(255, 255, 255, 0.5);

  --primary-purple: #444492;
  --secondary-purple: rgba(68, 68, 146, 0.5);

  --primary-font: "Fira Sans", sans-serif;
}

h1, h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a {
  text-decoration: none;
  color: var(--secondary-black);
  transition: all 0.3s;
}

#root {
  background: var(--primary-white) !important;
  display: flex;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  font-family: var(--primary-font);
  color: var(--primary-black);
}

main {
  display: flex;
  align-items: stretch;
  gap: 30px;
  align-self: stretch;
  .heading-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    position: relative;
    z-index: 1;
  
    svg {
      width: 32px;
      height: 32px;
      fill: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
    }
  }

  .c-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .c-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  
  .c-article-column {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  
  .c-column-content {
    width: 100%;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.5);
    height: 150px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: linear-gradient(109.6deg, rgb(78, 62, 255) 11.2%, rgb(164, 69, 255) 91.1%);
    p {
      color: var(--primary-white);
      font-style: italic;
    }
  }
}

