@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  --primary-black: #0b091c;
  --secondary-black: #39383d;

  --primary-white: #ffffff;
  --secondary-white: rgba(255, 255, 255, 0.5);
  --variant-secondary-white: rgba(255, 255, 255, 0.25);
  --tertiary-white: rgba(255, 255, 255, 0.1);

  --primary-purple: #444492;
  --secondary-purple: rgba(68, 68, 146, 0.5);
  --tertiary-purple: rgba(11, 9, 28, 1);
  --quatuor-purple: rgba(11, 9, 28, 0.75);

  --primary-spotify: rgba(29, 185, 84, 1);

  --primary-font: "Fira Sans", sans-serif;
}

#root {
  background: var(--primary-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--primary-font);
  color: var(--primary-white);
}

h1,
h2 {
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--primary-white);
  transition: all 0.3s;
}

a, button {
  cursor: pointer;
}

main {
  display: flex;
  align-items: stretch;
  gap: 30px;
  padding: 20px;
  width: 100%;
  align-self: stretch;
  flex-direction: column;
  min-height: calc(100vh - 52px);
  min-height: calc(100dvh - 52px);
  margin-bottom: 145px;
  .heading-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    position: relative;
    &::before {
      content: "";
      background: url("./assets/icon/search.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 15px;
      height: 15px;
      position: absolute;
      left: 12.5px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      width: 100%;
      box-sizing: border-box;
      padding: 12.5px 40px 12.5px 40px;
      position: relative;
      border: none;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
      background: rgba(255, 255, 255, 0.05);
      border-radius: 5px;
      font-size: 0.875rem;
      font-family: var(--primary-font);
      color: var(--primary-white);
      &::placeholder {
        color: rgba(255, 255, 255, 0.25);
      }

      &:focus-visible {
        outline: none;
      }
    }

    .clear-input {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 16px;
      height: 16px;
      color: var(--primary-white);
    }
  }

  .c-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .c-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }

  .c-article-column {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
  }

  .c-column-content {
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.5);
    height: 115px;
    width: 115px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: linear-gradient(
      109.6deg,
      rgb(78, 62, 255) 11.2%,
      rgb(164, 69, 255) 91.1%
    );
    p {
      color: var(--primary-white);
      font-style: italic;
    }
  }
}

#arrow-back {
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  transition: all 0.3s;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    font-size: 0.875rem;
    font-family: var(--primary-font);
    color: var(--primary-white);
    &::placeholder {
      color: rgba(255, 255, 255, 0.25);
    }

    &:focus-visible {
      outline: none;
    }
  }

  .clear-input {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 16px;
    height: 16px;
    color: var(--primary-white);
  }
}

pwa-toast {
  z-index: 9999;
}