.auth-container {
  background: url("../../assets/imgs/background-auth.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  height: 100dvh;
  padding-inline: 20px;
  img {
    width: 40px;
    height: 40px;
  }
  .auth-container-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: clamp(0.85rem, 0.5571rem + 0.7143vw, 1rem);
      font-style: italic;
    }
  }
  button {
    font-family: var(--primary-font);
    background-color: var(--primary-purple);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: var(--primary-white);
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
    svg {
      padding: 0px;
      width: fit-content;
    }
    &:hover {
      transform: translateY(-2.5px);
    }
  }
}
